.help-center-modal {
    .modal-content {
        padding: 20px;
        border-radius: 8px;

        .modal-header {
            h5 {
                font-size: 20px;
                font-weight: 600;
                font-family: 'DM Serif Display', serif; // Applies font to modal title
            }
        }

        .modal-body {
            p {
                padding: 0px;
                font-size: 16px;
                color: #333;
            }

            .form-group {
                label {
                   
                    font-weight: 500;
                    color: #333;
                    font-family: 'DM Serif Display', serif; // Applies font only to form labels
                }
                input,
                textarea {
                    font-family: Arial, Helvetica, sans-serif; // Default font for input fields
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    padding: 10px;
                    transition: border-color 0.3s;
                    &:focus {
                        border-color: #1c7a73;
                        box-shadow: none;
                    }
                }
            }
        }

        .modal-footer {
            border: none;
            display: flex;
            justify-content: flex-end;

            .btn-secondary {
                background-color: #f1f1f1;
                color: #333;
                border: none;
                &:hover {
                    background-color: #e0e0e0;
                }
            }

            .btn-primary {
                background-color: #1c7a73;
                color: #fff;
                border: none;
                margin: 0px 15px;
                &:hover {
                    background-color: #145a54;
                }
            }
        }
    }

    .close-btn {
        background: #000;
        height: 20px;
        width: 20px;
        padding-bottom: 2px;
        border-radius: 100px;
        color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        cursor: pointer;
    }
}
