.banner{
    background-color: #f4f9f9;
    padding: 70px 0;
    position: relative;
    overflow: hidden;
    @media screen and (max-width:992px){
       padding: 50px 0;
      }
    .banner_content{
        .subline{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
            color: rgba(5, 19, 18, 0.5);
            position: relative;
            margin-left: 40px;
            span{
                color: #2B9F97;
                transition: all 0.3s;
                font-weight: bold;
            }
            &::after{
                content: "";
                position: absolute;
                top:10px;
                left: -40px;
                width: 24px;
                height: 2px;
                border-radius: 100px;
                background-color: #2B9F97;
            }
        }
        h1{
            font-size: 45px;
            color: #051312;
            margin-bottom: 20px;
            line-height: 80px;
            text-transform: capitalize;
            span{
                color: #2B9F97;
            }
            img{
                box-shadow: 0 7px 16px -2px rgb(0 0 0 / 22%);
                border-radius: 100px;
                width: 120px;
                height: 56px;
            }
            @media screen and (max-width:1200px){
                font-size: 38px;
                line-height: 55px;
              }
        }
        .para{
            font-size: 16px;
            color: #051312;
            margin: 30px 0;
            line-height: 30px;
            max-width: 445px;
        }
        .links{
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            .started{
                font-size: 16px;
                font-weight: 500;
                background: linear-gradient(285deg, #0B5B4C 0, #2B9F97 95%);
                color: white;
                margin-right: 20px;
                width: 176px;
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                transition: all 0.4s;
                img{
                    margin-left: 10px;
                    width: 20px;
                    transition: all 0.4s;
                }
                &:hover{
                    background: linear-gradient(90deg, #0B5B4C 0, #2B9F97 95%);
                    transition: all 0.4s;
                    img{
                        margin-left: 20px;
                        transform: translate(0, 0);
                    }
                }
            }
            .video{
                font-size: 16px;
                font-weight: 500;
                color: #1C7A73;
                transition: all 0.4s;
                img{
                    margin-right: 10px;
                    transition: all 0.4s;
                    width: 50px;
                }
                &:hover{
                    transition: all 0.4s;
                    color: #2B9F97;
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .sliderP{
        position: absolute;
        right: 0;
        padding: 0;
        top: 50%;
        transform: translate(0, -50%);
        @media screen and (max-width: 992px){
            position: relative;
            transform: none;
            margin-top: 30px;
            top: unset;
            right: unset;
            padding-left: 10px;
          }
    }
}