.chooseUs{
    background: url(../../../../public/images/chooseBack.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0;
    @media screen and (max-width:992px){
        padding: 50px 0;
       }
    .chooseUsTitle{
        text-align: center;
        h2{
            font-size: 48px;
            color: #fff;
            margin-bottom: 30px;
            @media screen and (max-width:1200px){
                font-size: 38px;
                line-height: 55px;
              }
        }
    }
    .chooseUsList{
        background-color: #12201f;
        padding: 30px;
        border-radius: 40px;
        height: 100%;
        img{
           width: 68px;
           margin-bottom: 16px;
        }
        h3{
            font-size: 20px;
            color: #fff;
            margin-bottom: 20px;
            font-family: 'DM Sans', sans-serif;
           margin-bottom: 16px;
        }
        p{
            font-size: 20px;
            color: #bbbbbb;
            margin-bottom: 0px;
        }
    }
}